.blueColumnLeft{
    position: fixed;
    background-color: #1F5D89;
    opacity: 76%;
    width: 120px;
    height: 100%;
    left: 0;
    top: 0;
}

.blueColumnRight{
    position: fixed;
    background-color: #1F5D89;
    width: 120px;
    height: 100%;
    opacity: 76%;
    right: 0;
    top: 0;
}
