@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 @apply bg-grey;
}

* {
 padding: 0;
  margin: 0;
 box-sizing: border-box;
}

/* scroll */
:root {
 scrollbar-color: #006a8d;
}

::-webkit-scrollbar {
 @apply sm:w-[10px] sm:h-[10px];
}
/* Track */
::-webkit-scrollbar-track {
 background: none;
}
::-webkit-scrollbar-thumb {
 background: #858585;
 border-radius: 9em;
}
::-webkit-scrollbar-thumb:hover {
 /* background: #E19F11; */
 background-image: linear-gradient(138deg, #006a8d 0%, #2ba64a 100%);
}
.noScroll::-webkit-scrollbar {
 display: none;
}

@font-face {
 font-family: 'Arial';
 font-weight: normal;
 font-style: normal;
}

.notification-container {
 box-sizing: border-box;
 position: fixed;
 top: 95px;
 right: 0;
 z-index: 999999;
 width: 320px;
 padding: 0px 15px;
 max-height: calc(100% - 30px);
 overflow-x: hidden;
 overflow-y: auto;
}

.notification {
 box-sizing: border-box;
 padding: 15px 15px 15px 58px;
 border: 2px solid #ffffff;
 border-radius: 2px;
 color: #fff;
 background-color: #ccc;
 cursor: pointer;
 font-size: 1em;
 line-height: 1.2em;
 position: relative;
}

/*.notification .title {*/
/* font-size: 1em;*/
/* line-height: 1.2em;*/
/* font-weight: bold;*/
/* margin: 0 0 5px 0;*/
/*}*/

.notification:hover, .notification:focus {
 opacity: 1;
}

.notification-enter {
 visibility: hidden;
 transform: translate3d(100%, 0, 0);
}

.notification-enter.notification-enter-active {
 visibility: visible;
 transform: translate3d(0, 0, 0);
 transition: all 0.4s;
}

.notification-exit {
 visibility: visible;
 transform: translate3d(0, 0, 0);
}

.notification-exit.notification-exit-active {
 visibility: hidden;
 transform: translate3d(100%, 0, 0);
 transition: all 0.4s;
}

.notification:before {
 position: absolute;
 top: 50%;
 left: 15px;
 margin-top: -14px;
 display: block;
 width: 28px;
 height: 28px;
 font-size: 28px;
 text-align: center;
 line-height: 28px;
}

.notification-info {
 @apply bg-ocean;
}

.notification-success {
 @apply bg-green;
}

.notification-success:before {
 content: "✔";
}

.notification-error {
 background-color: #bd362f;
}

.notification-error:before {
 content: "✕";
}
